img {
    width: 25vw;
    height:51vh;
    object-fit: cover;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
 
}
.head{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    z-index: 100;
    border-radius: 10px;
    width:20%;
    height: 3vh;
    position: fixed;
    top: 0%;
    margin-left: 0%;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(199, 177, 177, 0.7) 0px 30px 60px -30px;
   
        position: fixed;
        left: 0%;
        top: 0%;
        transform: translate(0%, 0%);
    

    
}
.explore{
    display:flex;
    flex-direction:row; 
    align-items:centre;
    height: 85vh;
    margin-left: 0%;
 
   
}

.explore-main{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    border-right: 1px solid black;
    /* border-left: 1px solid black; */
    justify-content:center;
    align-items:flex-start;
}


.explore-main hr{
    width: 100%;
    margin-top: 4.5rem;
    margin-right: -30rem;
}
.explore-box{
    display: grid;
    /* grid-template-columns: 1fr  1fr 1fr; */
padding:0% ;
    justify-content:center;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
     margin-left: 7px;
    margin-top: 15px; 
    box-shadow: 0 2px 4px rgba(190, 179, 179, 0.7);
}
.explore-box:hover{
    transform: scale(1.01);
}
.explore-image {
    width: 90%;
}

.explore-main-box{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr;
    margin-left: 36rem;
    width: 90vw;
    
}



.Search-box{
    margin-left: 50%;
    width:14vw;
    height: 20px;
    border-radius: 10px;

}
.explore-header button{
 margin-left: 0%;
 margin-top:2.5%;
 color: white;
   
}
::placeholder{
    color: black;
    margin-top: 1px;
}
@media screen and (max-width: 768px) {
    .explore-main-box{
        display: grid;
        grid-template-columns:344px 1fr;
        margin-left: -12rem;
    }
    .explore-image {
        width: 100%;
    }
    img {
    width: 62vw;
    height:51vh;
    object-fit: cover;
    overflow: hidden;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
 
}
.explore-box{
  display: grid;
    grid-template-columns: 1fr  1fr ;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
     margin-left: 7px;
    margin-top: 15px; 
    width: 100%;
    box-shadow: 0 2px 4px rgba(190, 179, 179, 0.7);
}
 
    
}

@media (max-width: 520px){
    .explore-main-box{
        display: grid;
        grid-template-columns: 276px ;
      margin-top: 40px;
      margin-left: 3rem;
    }
    .explore-image {
        width: 100%;
    }
    img {
    width: 92vw;
    height:44vh;
    object-fit: cover;
    border-radius: 2px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
 
}
.explore-box{
    display: grid;
      grid-template-columns: 1fr  1fr ;
      border-radius: 2px;
      transition: all 0.3s ease-in-out;
       margin-left: 7px;
      margin-top: 15px; 
      width: 100%;
      box-shadow: 0 2px 4px rgba(190, 179, 179, 0.7);
  }
  .head{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    z-index: 100;
    border-radius: 10px;
    width: 3%;
    height: 3vh;
    position: fixed;
    top: 0%;
    margin-left: 0%;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(199, 177, 177, 0.7) 0px 30px 60px -30px;
   
        position: fixed;
        left: 0%;
        top: 0%;
        transform: translate(0%, 0%);


}
.logo h2{
    font-size: 2rem;
margin-left: 16rem;

}
.mobile-menu-link{
    width: 27rem;
}
.mobile-menu-link ul{
    padding-top: 4rem;
}


}
