.search-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
   
}
.header-search{
    display: flex;
    flex-direction: column;
    z-index: 100;
    width:20%;
    height: 3vh;
    position: fixed;
    top: 0%;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(199, 177, 177, 0.7) 0px 30px 60px -30px;
    border: 2px solid rgb(241, 241, 241); 
}
.Search-main {
    background-color: white;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    transition: all 2s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(199, 177, 177, 0.7) 0px 30px 60px -30px;
    border: 2px solid rgb(241, 241, 241); 
    height: 30vh;
    width: 85%;
    margin-left: 14%;
    font-size: 3rem;
    margin-bottom: 2rem;

}
.search-form{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 5vh;
}
.search-form input{
    width: 30vw;
    height: 5.4vh;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    font-size: 1.5rem;
    padding-left: 1rem;

    padding-top: 16px 
}
.search-form input:focus{
    outline: none;
}
.search-form button:hover{
    cursor: pointer;
}
.search-form input:focus{
    border: 2px solid rgb(127, 127, 168);
}
.search-form button{
    width: 3vw;
    height: 5.4vh;
    padding-top: 1px;
    border: 2px solid rgb(241, 241, 241);
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: white;
    color: rgb(127, 127, 168);
}
.fasearch{
    font-size: 26px;
    margin-bottom: -3px;
}
.filter-option{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    height: 5vh;
    margin-top: 2rem;
   
}
.filter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 5vh;
    margin-top: 2rem;
  
}
.filter li{
    display: flex;
align-items: center;
justify-content: center;
    list-style: none;
    margin-right: 2rem;
    font-size: 1.8rem;
    height: 4vh;
    width: 5vw;
    background-color: tomato;
    border-radius: 5px;
    background-color: white;
    /* color: rgb(127, 127, 168); */
    border: 2px solid #f1f1f1;
}
/* --------people----- */

.people-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 14px;
    margin-bottom: -15px;
    cursor: pointer;
}
.people{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-end;
    background-color: white;
    border: 2px solid rgb(241, 241, 241);
    width: 60vw;
    height: 60vh;
    margin-left: 20%;
}
.people-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items:flex-start;
    width: 40vw;
    height: 5vh;
    margin-top: 2rem;
    margin-left: 6rem;
}
.people-lists{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(199, 177, 177, 0.7) 0px 30px 60px -30px; */
    border: 2px solid rgb(241, 241, 241); 
    margin-right: 1rem;
   border-radius: 5px;
    width: 58vw;
    padding-bottom: 1rem;
    ;
}
.people-name{
    margin-top: 1.5rem;
   
}
.people-name p{
    font-size: 2rem;
}
.people-button{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
    margin-left:-25rem;
}
.people-button p{
   
        font-size: 1.6rem;
        margin-left: 39rem;
   
    margin-top: -4rem;
}

.add-button{
    margin-left: 4rem;
    margin-top: 2rem;
}
.people-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start ;
    align-items: center;
   
    margin-left: 2rem;
    margin-top: 2rem;
}
.people-header p{
    align-items: center;
    font-size: 2.5rem;
    display: flex;
    margin-right: 97rem;

}
.see-more{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    padding-right: 42rem;
    margin-top: 2rem;
}

/* -------Group ------ */
.group{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-end;
    background-color: white;
    border: 2px solid rgb(241, 241, 241);
    width: 60vw;
    height: 55vh;
    margin-top: 1rem;
    margin-left: 20%;
    border-radius: 10px;
}
.group-button p {
    font-size: 1.6rem;
    margin-left: 14rem;
    margin-top: 1rem;

}
/* -------Hashtags ------
 */
 .hash-button{
    
        font-size: 1.6rem;
        margin-left: 7rem;
        margin-top: 1rem;
    
 }
 .hashtag{
  
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: flex-end;
        background-color: white;
        border: 2px solid rgb(241, 241, 241);
        width: 60vw;
        height: 54vh;
        margin-top: 1rem;
        margin-left: 20%;
        border-radius: 10px;
    }
    .hash-header p{
        align-items: center;
        font-size: 2.5rem;
        display: flex;
        margin-right: 92rem;
        margin-top: 2rem;
    }
    /* ----Posts ---- */
   
        .post-lists{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(199, 177, 177, 0.7) 0px 30px 60px -30px; */
            border: 2px solid rgb(241, 241, 241); 
            margin-right: 1rem;
           border-radius: 5px;
            width: 58vw;
            padding-bottom: 1rem;
            padding-left: 15rem;
         
        }
        .post-lists p{
            font-size: 1.6rem;
            margin-left: 2rem;
            margin-top: 1rem;
        }
.user-image img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 14px;
    margin-bottom: -15px;
    cursor: pointer;
}
.user-name p{
    font-size: 2.5rem;
    margin-left: 0rem;
    margin-top: 3rem;
    width:22rem;
}
.post-lists{
    height: 82vh;
}

.post-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start; 
    align-items:flex-start;
    width: 40vw;
    height: 5vh;
    margin-top: 2rem;
    margin-left: -7rem;
    margin-bottom: 5rem;
}
.post-img{
    margin-left: 0rem;
    object-fit: cover;
    margin-right: 10px;
    margin-top: 4px;
    margin-bottom: -15px;
    cursor: pointer;
}
.post-img img{
    width: 400px;
    object-fit: cover;
    margin-left: -80px;
    margin-top: 0px;
}
.post-button{
    margin-left: 4rem;
    margin-top: 4rem;
}
.caption{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    margin-right: 1rem;
   border-radius: 5px;
    width: 58vw;
    padding-bottom: 1rem;
    padding-left: 4rem;
}
.caption p{
    font-size: 1.6rem;
    margin-left: -12rem;
    font-weight: bold;
    margin-top: 2.5rem;
}
.stats{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 53rem;
    
margin-left: -11rem;
    margin-top: -4rem;
    color: #383333;
}
.stats p{
    font-size: 1.6rem;

    margin-top: 2rem;
}
.post-stats-button{
    display: flex;
    flex-direction: row;
    margin-top: 0rem;
    margin-left:-9rem;
}
.posts{
  
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-end;
    background-color: white;
    border: 2px solid rgb(241, 241, 241);
    width: 60vw;
    height: 253vh;
    margin-top: 1rem;
    margin-left: 20%;
    border-radius: 10px;
}









@media (max-width: 998px) {
    .Search-main{
        width: 100%;
        height: 25vh;
    }
    .filter-option{
        width: 50vw;
     margin-top: 0%; 
    padding-bottom: 18rem;
    }
    .search-form button{
        width: 8vw;
    }
    .filter{
        margin-left: -54rem;
    }
    .filter li{
        width: 20vw;
        
    }
    .people-header p,.hash-header p{
        margin-right: 36rem;
    }
    .hashtag{
        height: 57rem;
    }
    .people{
        height: 49rem;
    }
    .people-button p{
        margin-top: -5rem;
    }
    .group {
        height: 47rem;
    }
    .post-lists {
        height: 110vh;
        margin-right: .5rem;
    }
    .post-img img {
        width: 395px;
        object-fit: cover;
        margin-left: -80px;
        margin-top: 0px;
        height: 400px;}
        .posts{
            height: 335vh;
            margin-bottom: 2rem ;
        }
        .group-button p {
            font-size: 1.6rem;
            margin-left: 14rem;
            margin-top: 1.2rem;
        }


.people-name p {
    font-size: 2rem;
    width: 35rem;
}
.add-button {
    margin-left: -12rem;
    margin-top: 2rem;
}
.see-more{
    padding-right: 21rem;
}
.post-img img {
    width: 57vw;
  
    margin-left: -114px;
}
.post-list{
    margin-left: -14rem;
}
.stats{
    margin-right: 0rem;
}

}


@media (max-width: 520px){
    .filter-option{
        display: none;
    }
    .search-form button {
        width: 11vw;}
        .Search-main{
            height: 14vh;
        }.search-form{
            height: 0vh;
        }
   
       
        .hash-header p{
          margin-right: 32rem;
        }
  
    .people-lists{
      width: 78vw !important;
    }
    .people {
      height: 49rem;
      width: 80vw !important;
      margin-right: 10%;
      margin-left: 10%!important;
  }
  .group {
    height: 49rem;
    width: 80vw !important;
    margin-right: 10%;
    margin-left: 10%!important;
  }
  .hashtag{
    height: 44rem;
    width: 80vw !important;
    margin-right: 10%;
    margin-left: 10%!important;
  }
  .post-img img {
    width: 73vw;
    margin-left: -104px;
}
.post-lists{
    width: 77vw;
}
.posts{
    height: 44rem;
    width: 80vw !important;
    margin-right: 10%;
    margin-left: 10%!important;
  }
}
