.comment-box{
  
    height: 100%;

}
.comments img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    
}
.comments{
    display: flex;
    flex-direction: column;
}
.comments h4{
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: 600;
    margin: 1rem;
}

.comment-popup-post {
    width: 43vw;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
align-items: center;

/* border: 1px solid black; */
margin-left: 6%;
margin-top: 4%;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
rgba(199, 177, 177, 0.7) 0px 30px 60px -30px;
border: 2px solid rgb(241, 241, 241);



}
.comment-popup-post p{
    font-size: 1.84rem;
    margin-left: 2%;
    margin-left: 2%;
    margin-top: 3%;

}